Repository Stylipp/main: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ruff check --fix, black

.lintstagedrc.json:

{
  "apps/stylipp.com/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "apps/stylipp.com/**/*.{json,css,md}": [
    "prettier --write"
  ],
  "apps/backend/src/**/*.py": [
    "ruff check --fix",
    "black"
  ]
}

docs(01-08): complete CI/CD and Git hooks plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-foundation-infrastructure/01-08-SUMMARY.md
Due: none

feat: add Dockerfiles, CI build+deploy pipeline, nginx config
  .dockerignore
  .github/workflows/ci.yml
  apps/backend/Dockerfile
  apps/stylipp.com/Dockerfile
  apps/stylipp.com/nginx.conf
  infra/.env.example
  infra/docker-compose.yml
Due: none

fix
  .github/workflows/ci.yml
  .planning/agent-history.json
  PROJECT_PLAN.md
  apps/stylipp.com/.gitignore
  packages/schemas/stylipp_schemas.egg-info/PKG-INFO
  packages/schemas/stylipp_schemas.egg-info/SOURCES.txt
  packages/schemas/stylipp_schemas.egg-info/dependency_links.txt
  packages/schemas/stylipp_schemas.egg-info/requires.txt
  packages/schemas/stylipp_schemas.egg-info/top_level.txt
  packages/schemas/stylipp_schemas/__pycache__/__init__.cpython-312.pyc
  packages/schemas/stylipp_schemas/__pycache__/common.cpython-312.pyc
  packages/schemas/stylipp_schemas/__pycache__/user.cpython-312.pyc
Due: none

fix: format base.py with black, regenerate pnpm lockfile
  apps/backend/src/models/base.py
Due: ruff check --fix, black

fix: use pnpm 10 to match lockfile version
  .github/workflows/ci.yml
  apps/stylipp.com/Dockerfile
Due: none

fix: change branch condition from master to main
  .github/workflows/ci.yml
Due: none

fix: use lowercase image names for GHCR
  .github/workflows/ci.yml
Due: none

fix: Dockerfiles - add tsconfig.base.json, fix schemas install
  apps/backend/Dockerfile
  apps/stylipp.com/Dockerfile
Due: none

fix port
  .github/workflows/ci.yml
Due: none

fix infra
  .github/workflows/ci.yml
Due: none

fix github owner
  .github/workflows/ci.yml
Due: none

ADD STYLIPP_GHCR_TOKEN
  .github/workflows/ci.yml
Due: none

fix docker compose
  infra/docker-compose.yml
Due: none

fix docker compose
  .github/workflows/ci.yml
  infra/docker-compose.yml
Due: none

chore(01-09): install and configure react-i18next
  .lintstagedrc.json
  apps/stylipp.com/package.json
  apps/stylipp.com/src/i18n/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(01-09): create English translation file with common keys
  apps/stylipp.com/src/i18n/locales/en/translation.json
Due: prettier --write

feat(01-09): integrate i18n into app with usage examples
  apps/stylipp.com/src/components/LanguageExample.tsx
  apps/stylipp.com/src/components/LoadingFallback.tsx
  apps/stylipp.com/src/i18n/react-i18next.d.ts
  apps/stylipp.com/src/main.tsx
  apps/stylipp.com/src/pages/HomePage.tsx
Due: eslint --fix, prettier --write

docs(01-09): complete i18n scaffolding plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-foundation-infrastructure/01-09-SUMMARY.md
Due: none

fix
  tasks/landing.md
Due: none

docs(02): create phase plan for Product Ingestion & Embeddings
  .planning/phases/02-product-ingestion-embeddings/02-01-PLAN.md
  .planning/phases/02-product-ingestion-embeddings/02-02-PLAN.md
  .planning/phases/02-product-ingestion-embeddings/02-03-PLAN.md
  .planning/phases/02-product-ingestion-embeddings/02-04-PLAN.md
  .planning/phases/02-product-ingestion-embeddings/02-05-PLAN.md
  .planning/phases/02-product-ingestion-embeddings/02-06-PLAN.md
  .planning/phases/02-product-ingestion-embeddings/DISCOVERY.md
Due: none

feat(02-01): create Product model with Alembic migration
  apps/backend/alembic/versions/2026_02_03_1400-a1b2c3d4e5f6_add_product_model.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/product.py
Due: ruff check --fix, black

feat(02-01): create Qdrant client and collection setup
  apps/backend/pyproject.toml
  apps/backend/src/core/config.py
  apps/backend/src/core/qdrant.py
Due: ruff check --fix, black

docs(02-01): complete Product Model & Qdrant Setup plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-product-ingestion-embeddings/02-01-SUMMARY.md
Due: none

feat(02-01): add Docker entrypoint with auto-migration
  apps/backend/Dockerfile
  apps/backend/alembic/versions/2026_02_03_1400-a1b2c3d4e5f6_add_product_model.py
  apps/backend/entrypoint.sh
Due: none

feat(02-02): add ML dependencies and create EmbeddingService
  apps/backend/pyproject.toml
  apps/backend/src/features/ai/__init__.py
  apps/backend/src/features/ai/router/__init__.py
  apps/backend/src/features/ai/schemas/__init__.py
  apps/backend/src/features/ai/service/__init__.py
  apps/backend/src/features/ai/service/embedding_service.py
Due: ruff check --fix, black

feat(02-02): create embedding service Pydantic schemas
  apps/backend/src/features/ai/schemas/__init__.py
  apps/backend/src/features/ai/schemas/schemas.py
Due: ruff check --fix, black

feat(02-02): create AI router and integrate lifespan model loading
  apps/backend/src/features/ai/router/router.py
  apps/backend/src/main.py
Due: ruff check --fix, black

docs(02-02): complete FashionSigLIP embedding service plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-product-ingestion-embeddings/02-02-SUMMARY.md
Due: none

add fashion clip
  tasks/landing-DONE.md
Due: none

style(02-02): fix black formatting in AI feature files
  apps/backend/src/features/ai/schemas/schemas.py
  apps/backend/src/features/ai/service/embedding_service.py
Due: ruff check --fix, black

fix(02-02): add missing ftfy and open-clip-torch dependencies
  apps/backend/pyproject.toml
Due: none

feat(infra): add persistent volume for HF model cache
  infra/docker-compose.yml
Due: none

perf(02-02): use CPU-only torch and fix model loading
  apps/backend/Dockerfile
  apps/backend/src/features/ai/service/embedding_service.py
Due: ruff check --fix, black

fix(02-02): add CPU-only torchvision to match torch
  apps/backend/Dockerfile
Due: none

feat(02-03): create image quality gate service
  apps/backend/pyproject.toml
  apps/backend/src/features/ai/service/quality_gate.py
Due: ruff check --fix, black

feat(02-03): add quality check schemas and endpoint
  apps/backend/src/features/ai/router/router.py
  apps/backend/src/features/ai/schemas/__init__.py
  apps/backend/src/features/ai/schemas/schemas.py
Due: ruff check --fix, black

docs(02-03): complete image quality gate plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-product-ingestion-embeddings/02-03-SUMMARY.md
Due: none

add image handle
  .claude/settings.local.json
Due: none

feat(02-04): create WooCommerce API client service
  apps/backend/src/core/config.py
  apps/backend/src/features/products/__init__.py
  apps/backend/src/features/products/service/__init__.py
  apps/backend/src/features/products/service/woocommerce_client.py
Due: ruff check --fix, black
