Repository Stylipp/main: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write, ruff check --fix, black

fix(16): use bridge network for scraper internet access
  infra/docker-compose.yml
Due: none

feat(16): add Shopify support to scraper
  apps/scraper/scraper/config.py
Due: none

feat(16): add Magento support, better headers, 18 stores
  apps/scraper/scraper/config.py
  apps/scraper/scraper/product_scraper.py
  apps/scraper/scraper/sitemap.py
  apps/scraper/stores.yaml
Due: none

feat(16): add Telegram notifications + 18 stores
  apps/scraper/run.py
  apps/scraper/scraper/telegram.py
  infra/docker-compose.yml
Due: none

feat(16): scraper CI build + per-store Telegram notifications
  .github/workflows/ci.yml
  apps/scraper/scraper/pipeline.py
  apps/scraper/scraper/telegram.py
Due: none

feat(16): replace WooCommerce sync with direct backend ingestion
  apps/backend/src/features/products/router/router.py
  apps/backend/src/features/products/schemas/schemas.py
  apps/backend/src/features/products/service/ingestion_service.py
  apps/scraper/.env.example
  apps/scraper/run.py
  apps/scraper/scraper/backend_sync.py
  apps/scraper/scraper/pipeline.py
  apps/scraper/scraper/woo_sync.py
  infra/docker-compose.yml
Due: ruff check --fix, black

fix(16): add 429 retry with backoff and increase Shopify rate limit
  apps/scraper/scraper/config.py
  apps/scraper/scraper/product_scraper.py
Due: none

fix(16): add 429 retry to sitemap fetcher and slow discovery probing
  apps/scraper/scraper/sitemap.py
Due: none

feat(16): interactive Telegram bot for scraper management
  apps/scraper/run.py
  apps/scraper/scraper/bot.py
  apps/scraper/scraper/config.py
  infra/docker-compose.yml
Due: none

fix(16): fix bot command — ENTRYPOINT already includes python run.py
  infra/docker-compose.yml
Due: none

feat(16): auto-detect platform in bot /test and /add commands
  apps/scraper/scraper/bot.py
Due: none

fix(16): add 403 Cloudflare detection and smart product URL filtering
  apps/scraper/scraper/bot.py
  apps/scraper/scraper/config.py
  apps/scraper/scraper/pipeline.py
  apps/scraper/scraper/sitemap.py
Due: none

docs(6): complete phase research
  .planning/phases/06-swipe-interface-feedback/6-RESEARCH.md
Due: none

docs(6): create phase plan
  .planning/phases/06-swipe-interface-feedback/06-01-PLAN.md
  .planning/phases/06-swipe-interface-feedback/06-02-PLAN.md
  .planning/phases/06-swipe-interface-feedback/06-03-PLAN.md
  .planning/phases/06-swipe-interface-feedback/06-04-PLAN.md
  .planning/phases/06-swipe-interface-feedback/06-05-PLAN.md
Due: none

feat(06-01): create UserInteraction model and Alembic migration
  apps/backend/alembic/versions/2026_03_23_1014-045c715cd7fc_add_user_interactions_table.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/user_interaction.py
Due: ruff check --fix, black

feat(06-01): create feedback feature module with POST /api/feedback endpoint
  apps/backend/src/features/feedback/__init__.py
  apps/backend/src/features/feedback/router/__init__.py
  apps/backend/src/features/feedback/router/router.py
  apps/backend/src/features/feedback/schemas/__init__.py
  apps/backend/src/features/feedback/schemas/schemas.py
  apps/backend/src/features/feedback/service/__init__.py
  apps/backend/src/features/feedback/service/service.py
  apps/backend/src/main.py
Due: ruff check --fix, black

feat(06-01): filter already-interacted products from feed
  apps/backend/src/features/feed/service/feed_service.py
Due: ruff check --fix, black

docs(06-01): complete feedback pipeline backend plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-swipe-interface-feedback/06-01-SUMMARY.md
Due: none

feat(06-02): create swipe types and Zustand swipe store
  apps/stylipp.com/src/features/feed/stores/swipeStore.ts
  apps/stylipp.com/src/features/feed/types/swipe.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

feat(06-02): create useFeed hook with cursor pagination and prefetch
  apps/stylipp.com/src/features/feed/hooks/useFeed.ts
  apps/stylipp.com/src/features/feed/services/feedbackService.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

docs(06-02): complete swipe feed state management plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-swipe-interface-feedback/06-02-SUMMARY.md
Due: none

feat(06-03): create SwipeCard component with Motion drag gestures
  apps/stylipp.com/src/features/feed/components/SwipeCard.tsx
  apps/stylipp.com/src/features/feed/components/SwipeIndicators.tsx
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

feat(06-03): create SwipeActions component with motion-animated buttons
  apps/stylipp.com/src/features/feed/components/SwipeActions.tsx
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

docs(06-03): complete swipe card components plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-swipe-interface-feedback/06-03-SUMMARY.md
Due: none

feat(06-04): create SwipeCardStack with AnimatePresence deck manager
  apps/stylipp.com/src/features/feed/components/SwipeCardStack.tsx
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

feat(06-04): create useFeedbackSubmit hook with optimistic submission
  apps/stylipp.com/src/features/feed/hooks/useFeedbackSubmit.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

docs(06-04): complete swipe card stack and feedback hook plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-swipe-interface-feedback/06-04-SUMMARY.md
Due: none

feat(06-05): create FeedPage and integrate into App routing
  apps/stylipp.com/src/App.tsx
  apps/stylipp.com/src/features/feed/components/SwipeCardStack.tsx
  apps/stylipp.com/src/features/feed/pages/FeedPage.tsx
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

feat(06-05): add empty state, save confirmation, and undo animation guard
  apps/stylipp.com/src/features/feed/components/FeedEmptyState.tsx
  apps/stylipp.com/src/features/feed/pages/FeedPage.tsx
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

fix(06-05): add trailing slashes to all API endpoints
  apps/stylipp.com/src/features/auth/stores/authStore.ts
  apps/stylipp.com/src/features/feed/services/feedbackService.ts
  apps/stylipp.com/src/features/onboarding/components/ProfileStep.tsx
  apps/stylipp.com/src/features/onboarding/hooks/useCalibration.ts
  apps/stylipp.com/src/features/onboarding/hooks/usePhotoUpload.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

Revert "fix(06-05): add trailing slashes to all API endpoints"
  apps/stylipp.com/src/features/auth/stores/authStore.ts
  apps/stylipp.com/src/features/feed/services/feedbackService.ts
  apps/stylipp.com/src/features/onboarding/components/ProfileStep.tsx
  apps/stylipp.com/src/features/onboarding/hooks/useCalibration.ts
  apps/stylipp.com/src/features/onboarding/hooks/usePhotoUpload.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

fix: add X-Forwarded-Proto header for backend behind Cloudflare
  infra/docker-compose.yml
Due: none

fix: enable uvicorn proxy-headers for HTTPS redirect detection
  apps/backend/entrypoint.sh
Due: none

fix: handle missing cluster_id in product payload during ranking
  apps/backend/src/features/feed/service/ranking_service.py
Due: ruff check --fix, black

fix(05-03): harden feed payload handling
  apps/backend/src/features/feed/router/router.py
  apps/backend/src/features/feed/service/feed_service.py
  apps/backend/src/features/feed/service/ranking_service.py
  apps/backend/tests/features/feed/test_feed_service.py
Due: ruff check --fix, black

fix: restore trailing slashes on all API endpoint URLs
  apps/stylipp.com/src/features/auth/stores/authStore.ts
  apps/stylipp.com/src/features/feed/services/feedbackService.ts
  apps/stylipp.com/src/features/onboarding/components/ProfileStep.tsx
  apps/stylipp.com/src/features/onboarding/hooks/useCalibration.ts
  apps/stylipp.com/src/features/onboarding/hooks/usePhotoUpload.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

fix: feedback 404 + redesign feed UI with Syne/Manrope typography
  apps/backend/src/features/feedback/service/service.py
  apps/stylipp.com/index.html
  apps/stylipp.com/src/features/feed/components/FeedEmptyState.tsx
  apps/stylipp.com/src/features/feed/components/SwipeActions.tsx
  apps/stylipp.com/src/features/feed/components/SwipeCard.tsx
  apps/stylipp.com/src/features/feed/components/SwipeCardStack.tsx
  apps/stylipp.com/src/features/feed/components/SwipeIndicators.tsx
  apps/stylipp.com/src/features/feed/pages/FeedPage.tsx
  apps/stylipp.com/src/theme.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write, ruff check --fix, black

fix: center card with CSS Grid and add mobile container shell
  apps/stylipp.com/src/features/feed/components/SwipeCard.tsx
  apps/stylipp.com/src/features/feed/components/SwipeCardStack.tsx
  apps/stylipp.com/src/features/feed/pages/FeedPage.tsx
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

feat(06-05): add profile state and category-scoped feed
  apps/backend/alembic/versions/2026_04_12_0001-d4e5f6a7b8c9_add_user_profile_state_fields.py
  apps/backend/alembic/versions/2026_04_12_0002-e5f6a7b8c9d0_add_product_categories.py
  apps/backend/src/core/profile_state.py
  apps/backend/src/features/auth/schemas/schemas.py
  apps/backend/src/features/feed/router/router.py
  apps/backend/src/features/feed/schemas/schemas.py
  apps/backend/src/features/feed/service/feed_service.py
  apps/backend/src/features/feedback/service/service.py
  apps/backend/src/features/onboarding/service/service.py
  apps/backend/src/features/products/schemas/schemas.py
  apps/backend/src/features/products/service/ingestion_service.py
  apps/backend/src/features/products/service/product_repository.py
  apps/backend/src/features/products/service/transformer.py
  apps/backend/src/features/products/utils/__init__.py
  apps/backend/src/features/products/utils/category.py
  apps/backend/src/models/product.py
  apps/backend/src/models/user.py
  apps/backend/tests/core/test_profile_state.py
  apps/backend/tests/features/feed/test_category_filter.py
  apps/backend/tests/features/products/test_category.py
  apps/stylipp.com/src/features/auth/stores/authStore.ts
  apps/stylipp.com/src/features/feed/components/SwipeCard.tsx
  apps/stylipp.com/src/features/feed/hooks/useFeed.ts
  apps/stylipp.com/src/features/feed/pages/FeedPage.tsx
  apps/stylipp.com/src/features/feed/services/feedbackService.ts
  apps/stylipp.com/src/features/feed/stores/swipeStore.ts
  apps/stylipp.com/src/features/feed/types/swipe.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write, ruff check --fix, black

fix(06-05): satisfy lint and black checks
  apps/backend/src/features/feed/service/feed_service.py
  apps/backend/src/features/feedback/service/service.py
  apps/backend/src/features/onboarding/service/service.py
  apps/stylipp.com/src/features/feed/hooks/useFeed.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write, ruff check --fix, black

Path conditions:
  eslint --fix --config apps/stylipp.com/eslint.config.js: any of: apps/stylipp.com/**/*.{ts,tsx}
  prettier --write: (any of: apps/stylipp.com/**/*.{ts,tsx}) or (any of: apps/stylipp.com/**/*.{json,css,md})
  ruff check --fix: any of: apps/backend/src/**/*.py
  black: any of: apps/backend/src/**/*.py
