Repository Stylipp/main: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write, ruff check --fix, black

.lintstagedrc.json:

{
  "apps/stylipp.com/**/*.{ts,tsx}": [
    "eslint --fix --config apps/stylipp.com/eslint.config.js",
    "prettier --write"
  ],
  "apps/stylipp.com/**/*.{json,css,md}": [
    "prettier --write"
  ],
  "apps/backend/src/**/*.py": [
    "ruff check --fix",
    "black"
  ]
}

fix url base
  apps/stylipp.com/src/shared/hooks/useApi.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

fix onbarding
  apps/backend/pyproject.toml
  apps/stylipp.com/src/features/onboarding/hooks/useCalibration.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

fix onboarding
  apps/stylipp.com/src/features/onboarding/components/PhotoUploadStep.tsx
  apps/stylipp.com/src/features/onboarding/stores/onboardingStore.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

fixed cluster cold
  apps/backend/src/features/clustering/service/cold_start_service.py
  apps/backend/tests/features/clustering/test_cold_start_service.py
Due: ruff check --fix, black

fixed cluster cold
  .planning/phases/04-user-onboarding/04-05-SUMMARY.md
  apps/backend/src/features/clustering/service/cold_start_service.py
  apps/backend/tests/features/clustering/test_cold_start_service.py
Due: ruff check --fix, black

docs(05): complete phase research
  .planning/phases/05-feed-generation-ranking/05-RESEARCH.md
Due: none

docs(05): create phase plan
  .planning/phases/05-feed-generation-ranking/05-01-PLAN.md
  .planning/phases/05-feed-generation-ranking/05-02-PLAN.md
  .planning/phases/05-feed-generation-ranking/05-03-PLAN.md
Due: none

test(05-01): add failing tests for scoring and ranking functions
  apps/backend/src/features/feed/__init__.py
  apps/backend/src/features/feed/service/__init__.py
  apps/backend/src/features/feed/utils/__init__.py
  apps/backend/tests/features/feed/__init__.py
  apps/backend/tests/features/feed/test_scoring.py
Due: ruff check --fix, black

feat(05-01): implement multi-factor scoring and ranking pipeline
  apps/backend/src/features/feed/service/ranking_service.py
  apps/backend/src/features/feed/utils/scoring.py
Due: ruff check --fix, black

docs(05-01): complete scoring & ranking functions (TDD) plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-feed-generation-ranking/05-01-SUMMARY.md
  .planning/phases/05-feed-generation-ranking/05-RESEARCH.md
Due: none

feat(05-02): create FeedService with candidate retrieval and ranking
  apps/backend/src/features/feed/service/feed_service.py
Due: ruff check --fix, black

feat(05-02): add diversity injection to feed generation
  apps/backend/src/features/feed/service/feed_service.py
Due: ruff check --fix, black

docs(05-02): complete feed service retrieval, ranking & diversity plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-feed-generation-ranking/05-02-SUMMARY.md
Due: none

feat(05-03): create feed API schemas and router with cursor pagination
  apps/backend/src/features/feed/router/__init__.py
  apps/backend/src/features/feed/router/router.py
  apps/backend/src/features/feed/schemas/__init__.py
  apps/backend/src/features/feed/schemas/schemas.py
Due: ruff check --fix, black

feat(05-03): wire feed router into FastAPI application
  apps/backend/src/main.py
Due: ruff check --fix, black

docs(05-03): complete feed router, schemas & integration plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-feed-generation-ranking/05-03-SUMMARY.md
Due: none

docs(16): plan automated product scraping & sync phase
  .planning/phases/16-automated-product-scraping/16-01-PLAN.md
  .planning/phases/16-automated-product-scraping/16-02-PLAN.md
  .planning/phases/16-automated-product-scraping/16-03-PLAN.md
  .planning/phases/16-automated-product-scraping/16-04-PLAN.md
  .planning/phases/16-automated-product-scraping/16-05-PLAN.md
  .planning/phases/16-automated-product-scraping/16-06-PLAN.md
Due: none

feat(16-01): create scraper feature module structure and data schemas
  apps/backend/src/features/scraper/__init__.py
  apps/backend/src/features/scraper/config/__init__.py
  apps/backend/src/features/scraper/router/__init__.py
  apps/backend/src/features/scraper/schemas/__init__.py
  apps/backend/src/features/scraper/schemas/schemas.py
  apps/backend/src/features/scraper/service/__init__.py
Due: ruff check --fix, black

feat(16-01): add store configuration system with YAML config and Settings updates
  apps/backend/src/core/config.py
  apps/backend/src/features/scraper/config/stores.py
  apps/backend/src/features/scraper/config/stores.yaml
Due: ruff check --fix, black

docs(16-01): complete scraper foundation plan
  .planning/phases/16-automated-product-scraping/16-01-SUMMARY.md
Due: none

feat(16-02): create async sitemap fetcher and URL extractor
  apps/backend/src/features/scraper/service/sitemap_service.py
Due: ruff check --fix, black

feat(16-04): extend WooCommerceClient with batch create, update, and SKU lookup
  apps/backend/src/features/products/service/woocommerce_client.py
Due: ruff check --fix, black

feat(16-03): create change detection service with content hashing and SQLite schema
  apps/backend/pyproject.toml
  apps/backend/src/features/scraper/service/change_detection.py
Due: ruff check --fix, black

feat(16-04): add DbSyncService and ProductRepository.update for PostgreSQL upserts
  apps/backend/src/features/products/service/product_repository.py
  apps/backend/src/features/scraper/service/db_sync_service.py
Due: ruff check --fix, black

feat(16-02): create async product scraper with JSON-LD and HTML fallback
  apps/backend/src/features/scraper/service/product_scraper.py
Due: ruff check --fix, black

docs(16-04): complete WooCommerce batch and DB sync plan
  .planning/phases/16-automated-product-scraping/16-04-SUMMARY.md
Due: none

docs(16-03): complete change detection plan
  .planning/phases/16-automated-product-scraping/16-03-SUMMARY.md
Due: none

docs(16-02): complete sitemap and product scraper plan
  .planning/phases/16-automated-product-scraping/16-02-SUMMARY.md
Due: none

feat(16-05): create vector sync service for Qdrant product embedding
  apps/backend/src/features/scraper/service/vector_sync_service.py
Due: ruff check --fix, black

docs(16-05): complete vector sync service plan
  .planning/phases/16-automated-product-scraping/16-05-SUMMARY.md
Due: none

feat(16-06): create ScraperOrchestrator with per-store pipeline and parallel runner
  apps/backend/src/features/scraper/service/orchestrator.py
Due: ruff check --fix, black

feat(16-06): create CLI entry point for nightly scraper pipeline execution
  apps/backend/scripts/run_scraper.py
Due: none

docs(16-06): complete orchestrator and CLI plan
  .planning/phases/16-automated-product-scraping/16-06-SUMMARY.md
Due: none

docs(16): complete Phase 16 Automated Product Scraping & Sync
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

refactor(16): simplify store config to just URLs
  apps/backend/src/features/scraper/config/stores.py
  apps/backend/src/features/scraper/config/stores.yaml
  apps/backend/src/features/scraper/service/sitemap_service.py
Due: ruff check --fix, black

feat(16): add all 4 stores from The Sprapper to scraper config
  apps/backend/src/features/scraper/config/stores.py
  apps/backend/src/features/scraper/config/stores.yaml
Due: ruff check --fix, black

feat(16): create standalone scraper at apps/scraper/
  apps/scraper/.env.example
  apps/scraper/requirements.txt
  apps/scraper/run.py
  apps/scraper/scraper/__init__.py
  apps/scraper/scraper/change_detection.py
  apps/scraper/scraper/config.py
  apps/scraper/scraper/pipeline.py
  apps/scraper/scraper/product_scraper.py
  apps/scraper/scraper/schemas.py
  apps/scraper/scraper/sitemap.py
  apps/scraper/scraper/woo_sync.py
  apps/scraper/stores.yaml
Due: none

refactor(16): remove old scraper from backend
  apps/backend/scripts/run_scraper.py
  apps/backend/src/core/config.py
  apps/backend/src/features/scraper/__init__.py
  apps/backend/src/features/scraper/config/__init__.py
  apps/backend/src/features/scraper/config/stores.py
  apps/backend/src/features/scraper/config/stores.yaml
  apps/backend/src/features/scraper/router/__init__.py
  apps/backend/src/features/scraper/schemas/__init__.py
  apps/backend/src/features/scraper/schemas/schemas.py
  apps/backend/src/features/scraper/service/__init__.py
  apps/backend/src/features/scraper/service/change_detection.py
  apps/backend/src/features/scraper/service/db_sync_service.py
  apps/backend/src/features/scraper/service/orchestrator.py
  apps/backend/src/features/scraper/service/product_scraper.py
  apps/backend/src/features/scraper/service/sitemap_service.py
  apps/backend/src/features/scraper/service/vector_sync_service.py
Due: ruff check --fix, black

chore(16): add .gitignore for standalone scraper
  apps/scraper/.gitignore
Due: none

feat(16): dockerize scraper and add to docker-compose
  apps/scraper/Dockerfile
  infra/docker-compose.yml
Due: none
