Repository Stylipp/main: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write, ruff check --fix, black

feat(02-04): add product schemas and WooCommerce transformer
  apps/backend/src/features/products/schemas/__init__.py
  apps/backend/src/features/products/schemas/schemas.py
  apps/backend/src/features/products/service/transformer.py
Due: ruff check --fix, black

docs(02-04): complete WooCommerce API client plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-product-ingestion-embeddings/02-04-SUMMARY.md
Due: none

feat(02-05): create product repository and ingestion service
  apps/backend/src/features/products/service/ingestion_service.py
  apps/backend/src/features/products/service/product_repository.py
Due: ruff check --fix, black

feat(02-05): create ingestion router with endpoints
  apps/backend/src/features/products/router/__init__.py
  apps/backend/src/features/products/router/router.py
  apps/backend/src/main.py
Due: ruff check --fix, black

docs(02-05): complete ingestion pipeline plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-product-ingestion-embeddings/02-05-SUMMARY.md
Due: none

feat(02-06): create bootstrap store seeding script
  apps/backend/data/bootstrap_products.json
  apps/backend/scripts/__init__.py
  apps/backend/scripts/seed_bootstrap.py
Due: none

add products
  .github/workflows/ci.yml
  infra/docker-compose.yml
Due: none

add products
  apps/backend/Dockerfile
Due: none

fix
  apps/backend/entrypoint.sh
Due: none

fix enterpoint.sh
  apps/backend/entrypoint.sh
Due: none

add migration
  apps/backend/alembic/versions/2026_02_18_0001-a1b2c3d4e5f6_create_users_and_products_tables.py
Due: none

docs(02-06): complete bootstrap store seeding plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-product-ingestion-embeddings/02-06-SUMMARY.md
Due: none

docs(03): create clustering & cold start phase plan
  .planning/phases/03-clustering-cold-start/03-01-PLAN.md
  .planning/phases/03-clustering-cold-start/03-02-PLAN.md
  .planning/phases/03-clustering-cold-start/03-03-PLAN.md
Due: none

feat(03-01): create StyleCluster model, migration, and Qdrant collection config
  apps/backend/alembic/versions/2026_02_27_0001-b2c3d4e5f6a7_add_style_clusters_table.py
  apps/backend/src/core/config.py
  apps/backend/src/core/qdrant.py
  apps/backend/src/features/clustering/__init__.py
  apps/backend/src/features/clustering/service/__init__.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/cluster.py
Due: ruff check --fix, black

feat(03-01): create ClusteringService with K-means and optimal k determination
  apps/backend/pyproject.toml
  apps/backend/src/features/clustering/service/cluster_repository.py
  apps/backend/src/features/clustering/service/clustering_service.py
Due: ruff check --fix, black

docs(03-01): complete clustering infrastructure & K-means engine plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-clustering-cold-start/03-01-SUMMARY.md
Due: none

feat(03-02): create ColdStartService with nearest-cluster matching and diversity injection
  apps/backend/src/features/clustering/schemas/__init__.py
  apps/backend/src/features/clustering/schemas/schemas.py
  apps/backend/src/features/clustering/service/cold_start_service.py
Due: ruff check --fix, black

feat(03-02): create rebuild_clusters management script
  apps/backend/scripts/rebuild_clusters.py
Due: none

docs(03-02): complete cold start service & rebuild script plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-clustering-cold-start/03-02-SUMMARY.md
Due: none

feat(03-03): create clustering router with rebuild, stats, and cold-start endpoints
  apps/backend/src/features/clustering/router/__init__.py
  apps/backend/src/features/clustering/router/router.py
Due: ruff check --fix, black

feat(03-03): wire clustering router into app lifespan and entrypoint
  apps/backend/entrypoint.sh
  apps/backend/src/main.py
Due: ruff check --fix, black

03-03-PLAN.md
  .planning/STATE.md
  .planning/phases/03-clustering-cold-start/03-03-SUMMARY.md
Due: none

docs(03-03): complete clustering API & pipeline integration plan
  .planning/ROADMAP.md
  .planning/STATE.md
  infra/docker-compose.yml
Due: none

docs(04): complete phase research
  .planning/phases/04-user-onboarding/04-RESEARCH.md
Due: none

docs(04): create phase plan for User Onboarding & Profiles
  .planning/phases/04-user-onboarding/04-01-PLAN.md
  .planning/phases/04-user-onboarding/04-02-PLAN.md
  .planning/phases/04-user-onboarding/04-03-PLAN.md
  .planning/phases/04-user-onboarding/04-04-PLAN.md
  .planning/phases/04-user-onboarding/04-05-PLAN.md
Due: none

feat(04-01): expand User model with onboarding fields and migration
  apps/backend/alembic/versions/2026_03_02_0001-c3d4e5f6a7b8_expand_user_model.py
  apps/backend/src/models/user.py
Due: ruff check --fix, black

feat(04-01): implement user registration and complete login endpoint
  apps/backend/src/features/auth/router/router.py
  apps/backend/src/features/auth/schemas/schemas.py
  apps/backend/src/features/auth/service/service.py
Due: ruff check --fix, black

fix(04-01): add min_length=8 password validation to RegisterRequest
  apps/backend/src/features/auth/schemas/schemas.py
Due: ruff check --fix, black

docs(04-01): complete auth backend plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-user-onboarding/04-01-SUMMARY.md
Due: none

feat(04-02): create photo upload and calibration items endpoints
  apps/backend/src/features/onboarding/__init__.py
  apps/backend/src/features/onboarding/router/__init__.py
  apps/backend/src/features/onboarding/router/router.py
  apps/backend/src/features/onboarding/schemas/__init__.py
  apps/backend/src/features/onboarding/schemas/schemas.py
  apps/backend/src/features/onboarding/service/__init__.py
  apps/backend/src/features/onboarding/service/service.py
  apps/backend/src/main.py
Due: ruff check --fix, black

feat(04-02): create calibration completion endpoint with user vector and price profile
  apps/backend/src/core/config.py
  apps/backend/src/core/qdrant.py
  apps/backend/src/features/onboarding/router/router.py
  apps/backend/src/features/onboarding/schemas/schemas.py
  apps/backend/src/features/onboarding/service/service.py
  apps/backend/src/features/onboarding/service/user_vector.py
  apps/backend/src/main.py
Due: ruff check --fix, black

docs(04-02): complete onboarding backend API plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-user-onboarding/04-02-SUMMARY.md
Due: none

feat(04-03): install dependencies and create auth infrastructure
  apps/stylipp.com/package.json
  apps/stylipp.com/src/features/auth/stores/authStore.ts
  apps/stylipp.com/src/shared/hooks/useApi.ts
  pnpm-lock.yaml
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

feat(04-03): create login/register pages and PrivateRoute guard
  apps/stylipp.com/src/App.tsx
  apps/stylipp.com/src/features/auth/components/LoginPage.tsx
  apps/stylipp.com/src/features/auth/components/RegisterPage.tsx
  apps/stylipp.com/src/shared/components/PrivateRoute.tsx
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

docs(04-03): complete frontend auth infrastructure plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-user-onboarding/04-03-SUMMARY.md
Due: none

feat(04-04): create onboarding store, layout with stepper, and route structure
  apps/stylipp.com/src/App.tsx
  apps/stylipp.com/src/features/onboarding/components/OnboardingLayout.tsx
  apps/stylipp.com/src/features/onboarding/stores/onboardingStore.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

feat(04-04): build photo upload step with compression and preview
  apps/stylipp.com/src/App.tsx
  apps/stylipp.com/src/features/onboarding/components/PhotoUploadStep.tsx
  apps/stylipp.com/src/features/onboarding/hooks/usePhotoUpload.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

docs(04-04): complete onboarding layout and photo upload plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-user-onboarding/04-04-SUMMARY.md
Due: none

feat(04-05): build calibration step with like/dislike interaction
  apps/stylipp.com/src/features/onboarding/components/CalibrationStep.tsx
  apps/stylipp.com/src/features/onboarding/hooks/useCalibration.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

feat(04-05): build profile step, completion screen, and onboarding gate
  apps/stylipp.com/src/App.tsx
  apps/stylipp.com/src/features/onboarding/components/OnboardingComplete.tsx
  apps/stylipp.com/src/features/onboarding/components/ProfileStep.tsx
  apps/stylipp.com/src/shared/components/OnboardingGate.tsx
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

Path conditions:
  eslint --fix --config apps/stylipp.com/eslint.config.js: any of: apps/stylipp.com/**/*.{ts,tsx}
  prettier --write: (any of: apps/stylipp.com/**/*.{ts,tsx}) or (any of: apps/stylipp.com/**/*.{json,css,md})
  ruff check --fix: any of: apps/backend/src/**/*.py
  black: any of: apps/backend/src/**/*.py
