Repository Stylipp/main: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write, ruff check --fix, black

feat(06-05): preserve scraper categories in backend ingest
  apps/backend/src/features/products/service/ingestion_service.py
  apps/backend/src/features/products/utils/__init__.py
  apps/backend/src/features/products/utils/category.py
  apps/backend/tests/features/products/test_category.py
  apps/scraper/scraper/backend_sync.py
  apps/scraper/scraper/product_scraper.py
  apps/scraper/tests/test_backend_sync.py
  apps/scraper/tests/test_product_scraper.py
  tasks/brain-TASKS.md
Due: ruff check --fix, black

docs(17): complete phase research
  .planning/phases/17-scraper-hardening/17-RESEARCH.md
Due: none

docs(17): create phase plan
  .planning/phases/17-scraper-hardening/17-01-PLAN.md
  .planning/phases/17-scraper-hardening/17-02-PLAN.md
  .planning/phases/17-scraper-hardening/17-03-PLAN.md
  .planning/phases/17-scraper-hardening/17-04-PLAN.md
  .planning/phases/17-scraper-hardening/17-05-PLAN.md
Due: none

feat(06-05): add feed modes and graceful fallback
  apps/backend/src/core/config.py
  apps/backend/src/features/feed/router/router.py
  apps/backend/src/features/feed/schemas/schemas.py
  apps/backend/src/features/feed/service/feed_service.py
  apps/backend/src/features/feed/service/ranking_service.py
  apps/backend/src/features/products/schemas/schemas.py
  apps/backend/tests/features/feed/test_feed_service.py
  apps/stylipp.com/src/features/feed/hooks/useFeed.ts
  apps/stylipp.com/src/features/feed/pages/FeedPage.tsx
  apps/stylipp.com/src/features/feed/types/swipe.ts
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write, ruff check --fix, black

feat(17-01): update ingest_batch for per-item tracking and HTTP 207
  apps/backend/src/features/products/router/router.py
Due: ruff check --fix, black

docs(17-01): complete per-product sync contract plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/17-scraper-hardening/17-01-SUMMARY.md
Due: none

docs(17-06): add scraper hardening follow-up plan
  .planning/phases/17-scraper-hardening/17-06-PLAN.md
  THE_BRAIN.md
  apps/stylipp.com/src/features/feed/pages/FeedPage.tsx
  tasks/brain-TASKS.md
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write

feat(17-02): add archived_at column to Product model
  apps/backend/alembic/versions/2026_04_19_0001-f6a7b8c9d0e1_add_archived_at_to_products.py
  apps/backend/src/models/product.py
Due: ruff check --fix, black

feat(17-02): add batch archive endpoint with soft-delete
  apps/backend/src/features/products/router/router.py
  apps/backend/src/features/products/schemas/schemas.py
  apps/backend/src/features/products/service/ingestion_service.py
Due: ruff check --fix, black

docs(17-02): complete product archival plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/17-scraper-hardening/17-02-SUMMARY.md
Due: none

feat(17-03): add archived filter to feed queries and Qdrant payload index
  apps/backend/src/core/qdrant.py
  apps/backend/src/features/feed/service/feed_service.py
  apps/backend/src/main.py
Due: ruff check --fix, black

feat(17-03): un-archive returning products in ingest_or_update_product
  apps/backend/src/features/products/service/ingestion_service.py
Due: ruff check --fix, black

docs(17-03): complete feed archival filter & un-archive plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/17-scraper-hardening/17-03-SUMMARY.md
Due: none

feat(17-04): update BackendSync to return SyncResult with accepted_ids
  apps/scraper/scraper/backend_sync.py
  apps/scraper/scraper/schemas.py
Due: none

feat(17-04): selective hash updates, soft-delete mark_removed, archive call
  apps/scraper/scraper/change_detection.py
  apps/scraper/scraper/pipeline.py
Due: none

docs(17-04): complete selective hash updates & soft-delete plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/17-scraper-hardening/17-04-SUMMARY.md
Due: none

feat(17-05): add stable source ID extraction to product scraper
  apps/scraper/scraper/product_scraper.py
Due: none

feat(17-05): Hebrew apostrophe normalization and junk category exclusion
  apps/backend/src/features/products/utils/category.py
Due: ruff check --fix, black

docs(17-05): complete stable source IDs & Hebrew normalization plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/17-scraper-hardening/17-05-SUMMARY.md
Due: none

feat(17-06): harden junk-category suppression with navigation label exclusion
  apps/backend/src/features/products/utils/category.py
  apps/backend/tests/features/products/test_category.py
Due: ruff check --fix, black

feat(06-05): add async learning and exposure logging
  apps/backend/alembic/versions/2026_04_19_0002-a7b8c9d0e1f2_add_exposure_logs_table.py
  apps/backend/src/core/config.py
  apps/backend/src/features/feedback/router/router.py
  apps/backend/src/features/feedback/schemas/schemas.py
  apps/backend/src/features/feedback/service/exposure_service.py
  apps/backend/src/features/feedback/service/profile_update_service.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/exposure_log.py
  apps/backend/tests/features/feedback/test_exposure_service.py
  apps/backend/tests/features/feedback/test_profile_update_service.py
  apps/stylipp.com/src/features/feed/hooks/useExposureTracking.ts
  apps/stylipp.com/src/features/feed/pages/FeedPage.tsx
  apps/stylipp.com/src/features/feed/services/feedbackService.ts
  apps/stylipp.com/src/features/feed/types/swipe.ts
  tasks/brain-TASKS.md
Due: eslint --fix --config apps/stylipp.com/eslint.config.js, prettier --write, ruff check --fix, black

add all changes
  apps/backend/tests/features/products/test_ingest_batch.py
  apps/scraper/tests/test_change_detection.py
  apps/scraper/tests/test_pipeline.py
  apps/scraper/tests/test_product_scraper.py
Due: none

Path conditions:
  eslint --fix --config apps/stylipp.com/eslint.config.js: any of: apps/stylipp.com/**/*.{ts,tsx}
  prettier --write: (any of: apps/stylipp.com/**/*.{ts,tsx}) or (any of: apps/stylipp.com/**/*.{json,css,md})
  ruff check --fix: any of: apps/backend/src/**/*.py
  black: any of: apps/backend/src/**/*.py
